<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/contactoStyles.css">
</head>
<body>
    <header class="header">

        <div class="caja">

            <img class="Logo" src="../imagenes/imagenes/logo.png" alt="Logo Barberia Alura">

            <nav class="option">

                <a href="index.html">Inicio</a>
                <a href="#">Productos</a>
                <a href="#">Contacto</a>

            </nav>

        </div>
    
    </header>

    <div style="height: 150px; overflow: hidden;"  class="wave"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 110%; width: 100%;"><path d="M-17.77,14.31 C158.29,126.81 217.55,1.50 513.26,19.25 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #5c5c5c;"></path></svg></div>
    
    
</body>
</html>